<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Maintenace Page</title>
    </head>
    <body>
        <h1>Page Maintenace</h1>
        <p> 
           Page is being updated. Be right back
        </p>

        {{> footer}}
    </body>
</html>